:root.theme-dark {
    --main-color: #fff;
    --accent-color: #FF6200;
    --bg-color: #000;
    --bottom-text-color: #fff;
    --linear-gradient-color-start: rgba(0, 0, 0, 1);
    --linear-gradient-color-end: rgba(0, 0, 0, 0);
}