  body {
    font-family: Arial, sans-serif;
    background-color: black;
  }

  .game {
    max-width: 900px;
    margin: 0 auto;
  }

  .story {
    color: white;
    font-family: "Alegreya", serif;
    font-size: 20px;
    text-align: justify;
  }

  .block {
    
  }

  .choices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .choice {
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    padding: 10px 26px;
    background-color: #FF6200;
    border: none;
    cursor: pointer;
    color: white;
    font-family: "Alegreya", serif;
    font-size: 20px;
    border-radius: 25px;
    max-height: 50px;
  }

  .status {
    margin-top: 20px;
    font-weight: bold;
  }

.restoreBtn {
    display: none;
  }

.restoreSixBtn {
    display: none;
  }

  .charactersheet {
    color: white;
    font-family: "Alegreya", serif;
    font-size: 20px;
  }