  body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    font-family: "Alegreya", serif;
    font-size: 18px;
  }
  .game {
    max-width: 1000px;
    margin: 0 auto;
  }
  .story {
    padding-top: 10px;
  }
  .block {
    margin-bottom: 10px;
    padding: 10px;

    border-radius: 4px;
  }
  .choice {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #c0c0c0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
  }
  .status {
    margin-top: 20px;
    font-weight: bold;
  }

.restoreBtn {
    display: none;
  }

.restoreSixBtn {
    display: none;
  }